body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    a:hover{
        color: #c64e4e;
    }
}

.main-content {
    display: grid;
    grid-template-columns: 1;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

/* Mobile prikaz */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav, header, section, footer {
    padding: 15px;
    text-align: center;
}

/* Tablet prikaz */
@media screen and (min-width: 601px) {
    nav, header, section, footer {
        padding: 20px;
    }

}

/* Desktop prikaz */
@media screen and (min-width: 1025px) {
    header, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 0 15px;
    }
}
