body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.main-content {
    display: grid;
    grid-template-columns: 1;
    background-color: aliceblue;
    margin: 50px;
    padding-right: 50px;
    padding-left: 10px;
    text-align: start;
}
.panel{
    width: 100%;
    height: 500px;
    background-color: #2b809a;
    display: flex;
}
.panel img{
    width: 100%;
    border-radius: 80%;
}
.mojaslika, .titula{
    padding: 2%;
    
}
.mojaslika h1{
    padding-left: 11%;
    font-size: 200%;
    color: whitesmoke;
    padding-top: 4%;
}
.mojaslika{
    background-color: #333;
    width: 20%;
    padding-top: 2%;
}
.titula{
    width: 80%;
    padding-top: 4%;

}
.titula h1{
    text-align: center;
    font-size: 270%;
}
#home{
    font-size: 0%;
    padding: 0%;
    
}
#about{
    padding-top: 5%;
}
#about p{
    font-size: 140%;
    
}
.sso img{
    width: 100%;
    
}

header div{
    width: 20%;
}
p, h3 {
    text-align: left;
}

h1, h2, h3 { 
    font-weight: bold;
}
header{
    display: flex;
    width: 100%;
    height: 110px;
}
header, footer {
    background-color: #333;
    color: white;
    padding: 1em;
}
footer, header div{
    text-align: center;
}
nav li{ 
    font-size: 130%;
}

nav {
    display: flex;
    justify-content: center; 
}

nav a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
    
}

nav ul {
    list-style: none;
}

.nav-link:hover {
    a:hover{
        color: #c64e4e;
    }
}

section {
    width: 100%;
}
#projects{
    height: fit-content;  
    background-color: #2b809a;
    padding-bottom: 5%;
}
h2{
    font-size: 180%;
}

.lll{
    background-color: aliceblue;
    height: 50px;
}
#skills{
    background-color: #2b809a;
}
#gallery{
    background-color: #2b809a;
}


.painting {
    border: 2px solid #2b809a;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.painting:hover {
    border: 2px solid #777;
}

.painting img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.ul-container {
    display: flex;
    justify-content: space-around;
}

.left-ul-group, .right-ul {
    background-color: #777;
    padding: 0 20px;
}
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav, header, section, footer {
    padding: 15px;
    text-align: center;
}

/* Mobile prikaz */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .ul-container {
        flex-direction: column;
    }

    .left-ul-group, .right-ul {
        width: 100%; 
        background-color: #cdcdcd;
    }
}

/* Tablet prikaz */
@media screen and (min-width: 601px) {
    nav, header, section, footer {
        padding: 20px;
    }
}

/* Desktop prikaz */
@media screen and (min-width: 1025px) {
    header, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 0 15px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}